#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(252, 166, 31, 0.45);
  margin-top: 20px;
}
#footer_about {
  display: flex;
  flex-direction: column;
  line-height: 5px;
  /* justify-content: space-around; */
  color: var(--black);

  /* width: 23%; */
}
#social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 5px;
  color: var(--black);
}
#elements {
  display: flex;
  flex-direction: column;
  line-height: 5px;
}

@media only screen and (max-width: 480px) {
  #footer ul li a img {
    max-width: 100%;
    display: block;
    /* height: auto; */
  }
}
p {
  color: #d35360;
  display: inline-block;
  margin: 50px 40px 0 10px;
  overflow: none;
  font-family: "Lato", sans-serif;
}

img {
  height: 100%;
  vertical-align: middle;
}
